body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
}

body, html {
    height: 100%;
    line-height: 1.8;
}

html {
    scroll-behavior: smooth;
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("mac.jpg");
    height: 100%;
}

#portfolio {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    /* padding-bottom: 16px; */
    box-shadow: 0 8px 48px #000000;
}

/* .w3-xxlarge {
    margin-bottom: -8px;
    margin-top: 8px;
} */

.fa {
    padding: 0 6px;
}

.fa-remove {
    font-size: 50px;
}

/* Apply CSS properties to ui-widgets class */
.ui-widgets {
    font-family: 'Courier Prime';
    position: relative;
    display: inline-block;
    width: 9rem;
    height: 9rem;
    border-radius: 9rem;
    margin: 1.5rem;
    border: 1.2rem solid green;
    box-shadow: inset 0 0 7px grey;
    /* border-left-color: #00640060;
    border-top-color: #00640075;
    border-right-color: #00640095;
    border-bottom-color: #006400bd; */
    /* border-image:   linear-gradient(to right, grey 25%, yellow 25%, yellow 50%,red 50%, red 75%, teal 75%) 5; */
    /* border: 1.2rem solid transparent; */
    border-radius: 9rem;
    /* background-image: linear-gradient(white, white), 
                      linear-gradient(270deg, transparent 50%, black 50%), linear-gradient(0deg, black 50%, lightgray 50%); */
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
    box-sizing: border-box;
    /* transform: rotate(-45deg); */
}

/* Apply css properties to the second
    child of ui-widgets class */
.ui-widgets-95 {
    border: 1.2rem solid transparent;
    background-image: linear-gradient(white, white), 
    linear-gradient(308deg, palegreen 14%, green 30%), linear-gradient(0deg, black 50%, lightgray 50%);
}

.ui-widgets-90 {
    border: 1.2rem solid transparent;
    background-image: linear-gradient(white, white), 
    linear-gradient(312deg, palegreen 15%, green 30%), linear-gradient(0deg, black 50%, lightgray 50%);
}

.ui-widgets-80 {
    border: 1.2rem solid transparent;
    background-image: linear-gradient(white, white), 
    linear-gradient(294deg, palegreen 18%, green 40%), linear-gradient(0deg, black 50%, lightgray 50%);
}

.ui-widgets-70 {
    border: 1.2rem solid transparent;
    background-image: linear-gradient(white, white), 
    linear-gradient(294deg, palegreen 23%, green 50%), linear-gradient(0deg, black 50%, lightgray 50%);
}

.ui-widgets-60 {
    border: 1.2rem solid transparent;
    background-image: linear-gradient(white, white), 
    linear-gradient(290deg, palegreen 32%, green 50%), linear-gradient(0deg, black 50%, lightgray 50%)
}

/* Apply css properties to ui-widgets class
    and ui-values class*/
.ui-widgets .ui-values {
    top: 26px;
    position: absolute;
    left: 0px;
    right: 0;
    font-weight: 700;
    font-size: 2.0rem;
    /* transform: rotate(45deg); */
}

/* Apply css properties to ui-widgets
    class and ui-labels class*/
.ui-widgets .ui-labels {
    left: -4px;
    bottom: -60px;
    /* text-shadow: 0 0 4px grey; */
    color: black;
    position: absolute;
    width: 100%;
    font-size: 20px;
    /* transform: rotate(45deg); */
}

[data-aos="rotate-c"] {
    transform: rotate(-180deg);
    transition-property: transform;
}

[data-aos="rotate-c"].aos-animate {
transform: rotate(0deg);
}

[data-aos="rotate-b"] {
    transform: rotate(+180deg);
    transition-property: transform;
}

[data-aos="rotate-b"].aos-animate {
transform: rotate(0deg);
}

/* loader */

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: #fff;
    z-index: 99;
  }

  #loading-image {
    z-index: 100;
  }

  .start-some {
    padding: 120px 48px;
  }

  #movetop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #d94646;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 2rem;
  }

  #movetop i {
      font-size: 24px;
  }
  
  #movetop:hover {
    background-color: #555;
  }

  .footer-logo {
      display: flex;
      align-items: center;
  }

  .footer-center {
      display: flex;
      justify-content: center;
  }

  .project_card hr {
    border-top: 1px dotted black;
  }

  .skills_footer span {
      background-color: #e8eaf6 !important;
      font-size: 12px !important;
  }

@media only screen and (min-width: 480px) and (max-width: 780px) {
    .ui-widgets {
        width: 7rem;
        height: 7rem;
    }
    .ui-widgets .ui-values {
        left: 2px;
        bottom: 0px;
        top: 16px;
        font-size: 1.5rem;
    }
    .ui-widgets .ui-labels {
        font-size: 16px;
        left: -2px;
        bottom: -54px;
    }
}

@media only screen and (max-width: 600px) {
    .footer-logo {
        flex-direction: column;
    }

    .footer-center {
        justify-content: left;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .ui-widgets {
        width: 7rem;
        height: 7rem;
    }
    .ui-widgets .ui-values {
        left: 2px;
        bottom: 15px;
        top: 16px;
        font-size: 1.5rem;
    }
    .ui-widgets .ui-labels {
        font-size: 16px;
        left: 0px;
        bottom: -54px;
    }
    .start-some {
        padding: 60px 48px 120px 48px;
    }
    #movetop {
        bottom: 15px;
        right: 20px;
        padding: 8px;
      }
    
      #movetop i {
          font-size: 18px;
      }
}
